<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<title>Portal Formosa</title>
		<link rel="stylesheet" href="{% static 'css/portal.css' %}">
	</head>
		<body>
			<div class="title">
				<header>
					<table class="table-title">
						<tr><th><img src="{% static 'imagens/img.jpg'%}" width="80px"></th>
						<th><b>Portal de Noticia Formosa</b></th></tr>
					</table>
				</header>
			</div>
			<div>
				<nav class="menu">
				<table >
					<tr>
						<td><span><a href="{% url 'home' %}">Home</a></span></td>
						<td><span><a href="{% url 'noticia_list' %}">Noticia</a></span></td>
						<td><span><a href="{% url 'area_list' %}">Area</a></span></td>
					</tr>
				</table>
				</nav>
			</div>
			{% block dinamico %}
			<div class="box">
				
			</div>
			{% endblock %}
			<footer>
				<center><h2>PW2 - 2020</h2></center><br><br><br>
			</footer>
		</body>
</html>